<a href="https://colab.research.google.com/github/Flaviamene88/Aula_Git/blob/main/Desafio_pr%C3%A9_DSC_ipynb_Flavia_de_Jesus_Menezes_de_Paula.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio Mini-curso Python

Olá! Que bom que você veio!<br>
**INSTRUÇÕES**


### 1) Considere que a aresta deste cubo tem 8cm. Calcule o volume total dessa peça. Guarde o resultado na variável `cubo`.

![image](https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Hexahedron.jpg/280px-Hexahedron.jpg)


Dica: Volume de um cubo é sua aresta elevada a terceira potência.

In [1]:
cubo = 8**3
print(cubo)

512

## Números primos
Os Números Primos são números naturais maiores do que 1 que possuem somente dois divisores, ou seja, são divisíveis por 1 e por ele mesmo.

**Rode a célula contento a lista de `numeros_primos` antes de continuar**

### Faça os exercícios de **2** a **5** seguintes operações com a lista `numeros_primos`

In [2]:
#Rode essa célula
numeros_primos = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

### 2) Guarde na variável `quinto_elemento` o quinto elemento da lista `numeros_primos`

In [11]:
numeros_primos[5]
quinto_elemento = numeros_primos[5]
print(quinto_elemento)

13

### 3) Guarde na variável `10_primos` uma lista com os 10 primeiros numeros primos da lista `numeros_primos`

In [22]:
numeros_primos[:10]
primos_10 = numeros_primos[:10]
print(primos_10)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

### 4) Guarde na variável `soma_primos` a soma total da lista `numeros_primos`

In [24]:
soma_primos = sum(numeros_primos)
print(soma_primos)

76127

### 5) Guarde na variável `primos_dobro` uma nova lista que seja a lista `numeros_primos` com seus elementos multiplicados por 2 (Dica: utilize `list comprehension`)

In [25]:
primos_dobro = numeros_primos*2
print(primos_dobro)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

### Dicionários

A **Escala de Scoville** é usda para medir o grau de ardência das pimentas. Preparamos um dicionário com o nome da pimenta e sua respectiva ardência em unidades Scoville.

**Rode a célula contento o dicionário de `pimentas` antes de continuar**

### Faça os exercícios de **6** e **7** seguintes operações com o dicionário `pimentas`

In [26]:
#Rode essa célula
pimentas = {
    'Pimentão': 0,
    'Pepperoncini': 300,
    'Molho Tabasco Jalapenho': 700,
    'Pimenta Anaheim': 750	,
    'Pimenta Poblano': 1250,
    'Pimenta Rocotillo': 2000,
    'Molho Tabasco': 3750,
    'Pimenta Jalapeño': 5250,
    'Wax Pepper': 7500,
    'Molho Tabasco Habanero': 7500,
    'Pimenta Dedo de Moça': 10000,
    'Pimenta Serrano': 16500,
    'Pimenta Malagueta': 75000,
    'Jamaican Hot Pepper': 150000,
    'Habanero Chili': 225000,
    'Pimenta de Chili Scotch Bonnet': 225000,
    'Habanero Chili Red Savina': 463500,
    'Dorset Naga': 923000,
    'Pimenta Naga Bhut Jolokia': 927500,
    'Pimenta Infinity Chilli': 1000000,
    'Pimenta Naga Viper': 1300000,
    'Pimenta Trinidad Scorpion Butch T': 1604615,
    'Vicnic-1313': 1820000,
    'Carolina Reaper': 1884650
}

### 6) Guarde na variável `quente` o valor de ardência da pimenta `Carolina Reaper`

In [27]:
quente = pimentas['Carolina Reaper']
print(quente)

1884650

## Funções e condicionais

O **IMC** (Indice de Massa Corporal) é um critério da Organização Mundial de Saúde para dar uma indicação sobre a condição de peso de uma pessoa adulta. A fórmula é IMC = peso / ( altura )²

### 8) Construa uma função de nome `calcular_imc` que receba o peso e a altura de um adulto e mostre sua condição de acordo com a tabela abaixo.

| IMC em adultos  | Condição       |
|-----------------|----------------|
| Abaixo de 18,5  | Abaixo do peso |
| Entre 18,5 e 25 | Peso normal    |
| Entre 25 e 30   | Acima do peso  |
| Acima de 30     | obeso          |

### 7) Insira no dicionário `pimentas` este novo par: `'Pimenta Caiena': 40000`

In [30]:
pimentas['Caiena'] = 40000
print(pimentas)

{'Pimentão': 0, 'Pepperoncini': 300, 'Molho Tabasco Jalapenho': 700, 'Pimenta Anaheim': 750, 'Pimenta Poblano': 1250, 'Pimenta Rocotillo': 2000, 'Molho Tabasco': 3750, 'Pimenta Jalapeño': 5250, 'Wax Pepper': 7500, 'Molho Tabasco Habanero': 7500, 'Pimenta Dedo de Moça': 10000, 'Pimenta Serrano': 16500, 'Pimenta Malagueta': 75000, 'Jamaican Hot Pepper': 150000, 'Habanero Chili': 225000, 'Pimenta de Chili Scotch Bonnet': 225000, 'Habanero Chili Red Savina': 463500, 'Dorset Naga': 923000, 'Pimenta Naga Bhut Jolokia': 927500, 'Pimenta Infinity Chilli': 1000000, 'Pimenta Naga Viper': 1300000, 'Pimenta Trinidad Scorpion Butch T': 1604615, 'Vicnic-1313': 1820000, 'Carolina Reaper': 1884650, 'Caiena': 40000}

## Com base na sua função faça os seguintes exercícios:
### 9) Guarde na variável `cond1` o IMC de uma pessoa que tenha 1,72 de altura e 80Kg de peso

In [35]:
peso = 80
altura = 1.72
cond1 = peso/(altura*altura)
print(cond1)

27.041644131963228

### 10) Guarde na variável `cond2` o IMC de uma pessoa que tenha 2,1 de altura e 70Kg de peso

In [37]:
cond2 = 70/(2.1*2.1)
print(cond2)

15.873015873015872

### 11) Guarde na variável `cond3` o IMC de uma pessoa que tenha 1,55 de altura e 80Kg de peso

In [38]:
cond3 = 80/(1.55*1.55)
print(cond3)

33.29864724245577

### Pandas
#### Faça o download do `.csv` abaixo e faça a leitura dele no `pandas` guarde-a na variável `gorjetas`

[Arquivo para download](https://drive.google.com/file/d/18f43p3FPmzRqN-I5S03U5pn6wdburrZQ/view?usp=sharing)

Dica: Não se esqueça de importar a biblioteca pandas

### Faça os exercícios de **12** a **14** com o DataDrame `gorjetas`

### 12) Guarde na variável `media_contas` o valor da média da colula **total**

In [66]:
import pandas
gorjeta_df = pd.read_csv('./gorjeta.csv')
print(gorjeta_df)
media_contas = ((gorjeta_df['total']).mean())
print(media_contas)

     total  gorjeta fumante  tamanho
0    16.99     1.01      No        2
1    10.34     1.66      No        3
2    21.01     3.50      No        3
3    23.68     3.31      No        2
4    24.59     3.61      No        4
..     ...      ...     ...      ...
239  29.03     5.92      No        3
240  27.18     2.00     Yes        2
241  22.67     2.00     Yes        2
242  17.82     1.75      No        2
243  18.78     3.00      No        2

[244 rows x 4 columns]
19.785942622950824

### 13) Guarde na variável `max_tamanho` o maior valor da colula **tamanho**

In [68]:
max_tamanho = ((gorjeta_df['tamanho']).max())
print(max_tamanho)

6

### 14) Guarde na variável `min_gorjeta` o menor valor da colula **gorjeta**

In [70]:
min_gorjeta = ((gorjeta_df['gorjeta']).min())
print(min_gorjeta)

1.0

### 15) (Debugging) Encontre e arrume o erro do código abaixo:

In [75]:
idades = {
    'Michael Scott': 43,
    'Pam Beesly': 24,
    'Jim Halpert': 25
}

michael = {idades["Michael Scott"]}
print(michael)

{43}