<a href="https://colab.research.google.com/github/Flaviamene88/Aula_Git/blob/main/Fun%C3%A7%C3%B5es_Exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Funções - Exercícios

### Crie uma função de nome `pedir_agua` e que apenas imprima "Estou com sede!"

Depois, chame está função

In [1]:
def pedir_agua() :
  print("Estou com sede")
pedir_agua()

Estou com sede

In [2]:
#@title  { display-mode: "form" }
def pedir_agua():
  print("Estou com sede")

pedir_agua()

Estou com sede

### Crie uma função que multiplique três números
Depois, chame essa função com os parâmetros: 10, 5, 12

In [5]:
def multiplicar_numeros(a,b,c):
  return a*b*c
multiplicar_numeros(10,5,12)

600

In [6]:
#@title  { display-mode: "form" }
def multiplicar_numeros(a,b,c):
  return a*b*c

multiplicar_numeros(10, 5, 12)

600

### Crie uma função que receba uma temperatura em Celsius e retorne em Fahrenheit

Converta as seguintes temperaturas 0°, 21°, 38°, 50°

Dica: Para converter de Celsius para Fahrenheit, multiplique por 1.8 e some 32

In [9]:
def converter_C_para_f(celsius):
  fahrenheint = (celsius* 1.8) + 32
  return fahrenheit
print(converter_c_para_f(0))
print(converter_c_para_f(21))
print(converter_c_para_f(38))
print(converter_c_para_f(50))

32.0
69.80000000000001
100.4
122.0

In [8]:
#@title  { display-mode: "form" }
def converter_c_para_f(celsius):
  fahrenheit = (celsius * 1.8 ) + 32
  return fahrenheit

print(converter_c_para_f(0))
print(converter_c_para_f(21))
print(converter_c_para_f(38))
print(converter_c_para_f(50))

32.0
69.80000000000001
100.4
122.0

### Crie uma função com nome `converter_valor_absoluto` que recebe um número e retorna o valor absoluto deste número, ou seja:
- se receber o número 8 retornará 8;
- se receber o número -8, retornará 8 também.

Teste  com os número `5` e `-5`

In [14]:
def converter_valor_absoluto(num):
  if num >= 0:
    return num
  else:
     return -num 
print(converter_valor_absoluto(8))
print(converter_valor_absoluto(-8))

8
8

In [10]:
#@title  { display-mode: "form" }

def converter_valor_absoluto(num):
  if num >= 0:
    return num
  else:
    return -num

print(converter_valor_absoluto(5))
print(converter_valor_absoluto(-5))

5
5